*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background: #ececec;
    overflow-x: hidden;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 60px;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    border-bottom: 1px solid #e0e0e0;
}
.header input{
    width: 300px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
}
.header img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.profile-options{
    display: flex;
    align-items: center;
}
.profile-options p{
    font-weight: bold;
}
.profile-options img{
    margin: 0 20px;
}
.profile-options button{
    width: 100px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
}
.main{
    display: flex;
    margin: 0 auto;
    height: 100%;
    width: 70%;
    background: #ececec;
    position: relative;
    top: 60px;
}
.left-section{
    width: 70%;
    height: 100%;
    position: relative;
}
.right-section{
    width: 30%;
    height: 100%;
    background: #fff;
    position: relative;
    border: 1px solid blue;
}
.add-post{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #fff;
    position: relative;
    padding: 10px;
}
.add-post p{
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
}
.add-post input{
    width: 100%;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
    outline: none;
}
.add-post button{
    width: 100px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}
.posts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}
.post{
    margin-bottom: 30px;
    width: 100%;
    height: 100%;
    background: #fff;
    position: relative;
}
.post-header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    background: #fff;
    position: relative;
}
.post-header p{
    flex-direction: column;
}
.post-header-info{
    display: flex;
    flex-direction: column;
}
.post-header-info-time{
    color: grey;
    font-size: 12px;
}
.post-header img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px;
}
.post-header-desc{
    padding: 0 10px 10px 10px;
}
.edit{
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin-right: 10px;
    cursor: pointer;
    outline: none;
    border: none;
}
.edit:hover{
    background: rgb(231, 231, 231);
}
.dot{
    width: 3px;
    height: 3px;
    margin: 2px;
    background: rgb(63, 63, 63);
    border-radius: 5px;
}
.post-main{
    width: 100%;
    height: 100%;
}
.post-main img{
    width: 100%;
    height: 100%;
}
.post-footer{
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
}
.interaction-numbers{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.interaction-buttons{
    margin-bottom: 10px;
    padding: 0 10px;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(201, 201, 201);
    border-bottom: 1px solid rgb(201, 201, 201);
}
.interaction-buttons button{
    cursor: pointer;
    background: none;
    width: 100%;
    padding: 7px 25px;
    border: none;
    color: rgb(70, 70, 70);
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    margin: 3px 5px;
}
.interaction-buttons button:hover{
    background-color: rgb(235, 235, 235);
}
.comment-section{
    width: 100%;
    height: 50%;
    display: flex;
}
.comment-section img{
    width: 40px;
    height: 40px;
    border-radius: 25px;
}
.comment-section input{
    margin: 0 10px;
    width: 100%;
    border: none;
    border-radius: 25px;
    padding: 0 10px;
    background-color: rgb(235, 235, 235);
    outline: none;
}
.interaction-buttons .liked{
    color: rgb(38, 38, 255);
}